.app-component {
    width: 100%;
    height: 100%;
}

.app-component-inner {
    height: 100%;
}

.app-container-header {
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0 1px 2px #dbdbdb;
}

.navbar {
    width: 100%;
    height: 72px;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar > .logo {
    width: 150px;
    height: 40px;
}
.nav-items-container {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    flex: 1;
}
.nav-items-container > a {
    text-decoration: none;
    color: #333;
    padding: 0 20px;
}

.nav_avatar_name {
    margin-right: 10px;
}

.nav_avatar_mark {
    margin-right: 50px;
}

.nav_avatar_mark > img {
    width: 10px;
}

.nav_avatar_mark:before {
    /* content: "\E790"; */
}

.app-container-left-section {
    width: 10%;
    height: 100%;
    background:rgb(45,48,55);
    color: rgb(255,255,255);
    float: left;
}

.app-container-left {
    margin-left: 1rem;
}

.app-container-left > div {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.app-container-main {
    width: 88%;
    height: 100%;
    background: #f5f6f9;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

.workbench {
    display: flex;
    height: 100%;
}

.tabs-box {
    width: 770px;
    background: #fff;
    margin: 14px;
    margin-right: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}

.el-tabs__header {
    display: flex;
    background: #e6e6e6;
    border-bottom: 1px solid #333;
}

.el-tabs__header > div {
    margin: 16px;
}

.el-tabs__content {
    margin-top: 16px;
}

.list-cell {
    margin: 10px;
    padding: 18px;
    border: 1px solid #888888;
}

.right-content {
    width: 370px;
    margin: 14px;
}

.task {
    background: #fff;
    margin-bottom: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    height: 300px;
}

.task-inner {
    display: flex;
    flex-direction: column;
}

.task-title {
    margin: 0 20px;
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid #e6e6ee;
}

.content-item {
    margin: 20px;
}

.schedule {
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    height: 300px;
}

.pop-over {
    width: 142px;
    position: absolute;
    top: 60px;
    left: 1510px;
    -webkit-transform-origin: center top 0px;
    transform-origin: center top 0px;
    z-index: 2001;
    background: #fff;
    border: 1px solid #ebeef5;
    border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    margin-top: 4px;
    padding: 12px 8px 12px 8px;
    font-size: 13px;
}

.hanle-item {
    margin-top:4px;
    margin-bottom: 10px;
    color: #aaa;
}

.handle-box {
    margin-top:4px;
    width: 100%;
    border-radius: 4px;
    border-color: #009df0;
    background-color: #009df0;
    color: #fff;
    height: 20px;
}
