.app-component {
    width: 100%;
    height: 100%;
}

.app-container-header {
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0 1px 2px #dbdbdb;
}

.navbar {
    width: 100%;
    height: 72px;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar > .logo {
    width: 150px;
    height: 40px;
}
.nav-items-container {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    flex: 1;
}
.nav-items-container > a {
    text-decoration: none;
    color: #333;
    padding: 0 20px;
}

.app-container-left-section {
    width: 10%;
    height: 80%;
    background:rgb(45,48,55);
    color: rgb(255,255,255);
    float: left;
}

.app-container-left {
    margin-left: 1rem;
}

.app-container-left > div {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.app-container-main {
    width: 88%;
    height: 80%;
    background: #f5f6f9;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

.workbench {
    display: flex;
    height: 100%;
}

.tabs-box {
    width: 770px;
    background: #fff;
    margin: 14px;
    margin-right: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}

.right-content {
    width: 370px;
    margin: 14px;
}

.task {
    background: #fff;
    margin-bottom: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    height: 300px;
}

.schedule {
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    height: 300px;
}

