.app-component {
    width: 100%;
    height: 100%;
}

.app-container-header {
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0 1px 2px #dbdbdb;
}

.navbar {
    width: 100%;
    height: 72px;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar > .logo {
    width: 150px;
    height: 40px;
}
.nav-items-container {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    flex: 1;
}
.nav-items-container > a {
    text-decoration: none;
    color: #333;
    padding: 0 20px;
}

.app-container-left {
    width: 10%;
    height: 80%;
    background: #888;
    float: left;
}

.app-container-main {
    width: 88%;
    height: 80%;
    background: #f5f6f9;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

