<div class="app-component">
  <!-- header -->
  <div class="app-container-header">
    <div class='navbar'>
      <img class='logo' src="assets/images/tiger.jpg" alt="logo">
      <div class='nav-items-container'>
          <a href="">办公</a>
          <a href="">客户管理</a>
          <a href="">商业智能</a>
          <a href="">项目管理</a>
      </div>
      <span>UserName</span>
    </div>
  </div>
  <!-- left -->
  <div class="app-container-left">
    This is left
  </div>
  <!-- main -->
  <div class="app-container-main">
    This is main
  </div>
  <!-- test component -->
  <app-dashboard></app-dashboard>
</div>
