<div class="app-component">
  <!-- header -->
  <div class="app-container-header">
    <div class='navbar'>
      <img class='logo' src="assets/images/tiger.jpg" alt="logo">
      <div class='nav-items-container'>
          <a href="">办公</a>
          <a href="">客户管理</a>
          <a href="">商业智能</a>
          <a href="">项目管理</a>
      </div>
      <span>UserName</span>
    </div>
  </div>
  <!-- left -->
  <div class="app-container-left-section">
    <div class="app-container-left">
      <div>快速创建》</div>
      <div>工作台</div>
      <div>日程</div>
      <div>任务</div>
      <div>公告</div>
      <div>日志</div>
      <div>审批</div>
      <div>通讯录</div>
    </div>
  </div>
  <!-- main -->
  <div class="app-container-main">
    <div class="workbench">
      <div class="tabs-box">
        <div class="main1">main1</div>
      </div>
      <div class="right-content">
        <div class="task">task</div>
        <div class="schedule">schedule</div>
      </div>
    </div>
  </div>
</div>
